/*
Put  styles here that can be used for generic things (enlarge text on hover, common color standards, etc
*/
*{
    box-sizing: border-box;
}
nav{
    background-color: #caffc7;
}
h4{
    font-family: 'Mukta', sans-serif;
}